<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>vip充值</title>
    <link rel="stylesheet" href="./css/adminLogin.css" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <script src="./js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body
    style="background:url('./images/zhifubao02.jpg') no-repeat;background-size: cover"
  >
  <img style="width:300px;height:400px;position: absolute;top: 200px;right: 200px;" src="./images/myZhiFuBao.jpg" class="img-responsive" alt="Responsive image">
  </body>
  <script>
    
  </script>
</html>
